@font-face {
    font-family: DroidSans;
    src: url(../fonts/DroidSans.ttf);
}

h1, h2, h3, h4, h5 {
	text-align: center;
	font-family: DroidSans;
}

h2 {
	font-size: 45px;
}
h3 {
	font-size: 26px;
}
p {
	font-family: DroidSans;
	text-align: center;
}

a {
	text-decoration: none;
}

dl {
	text-align: left;
}
dt {
	margin-top: 1em;
	font-weight: bold;
}

input {
	/* float: left; */
}

ul {
	list-style-type: none;
}

.active, .button {
	color: white;
	background-color: #2ecc71;
	border-radius: 10px;
}


/*	===========================================================
	Header
	===========================================================	*/
	
header {
	height: 777px;
	background-image: url(../img/headerbackground.png);
	background-size: 100% 777px;
	color: #ffffff;
}

header .logo {
	margin: 47px 0 0 12%;
}

header ul.nav {
	margin: 60px 6% 0 0;
	float: right;
	font-size: 22px;
	font-family: DroidSans;
}
ul.nav li {
	display: inline;
	padding: 0 20px;
}

ul.nav li>a{
	color: #ffffff;
}

header h1 {
	margin-top: 164px;
	font: bold 80px DroidSans;
}

.fig {
    display: block;
	margin: 113px 0 0 0;
    text-align: center;
   }
   
header>p {
	font-size: 27px;
}
/*	===========================================================
	About
	===========================================================	*/
.about{
	height: 1153px;
	padding: 53px 90px 106px;
	background-color: #34495e;
	text-align: center;
	color: #ffffff;
}

.about h2 {
	margin:138px 0 69px 0;
}

.about p {
	font-size:24px;
}
.about div {
	display: inline-block;
	width: 210px;
	margin: 137px 40px 0;
}

/*	===========================================================
	Portfolio
	===========================================================	*/
.portfolio, .portfolio a {
	height: 1046px;
	color: #2c3e50;
	text-align: center;
}

.portfolio h2 {
	margin: 124px 0 0 0;
}

.portfolio ul {
	margin: 76px 0 127px 0;	
}

.portfolio ul li {
	display: inline;
	margin: 0 28px;
	padding: 5px 20px;
	font-size: 30px;
}

li.active a{
	text-decoration: none;
	color: #ffffff;
}

.portfolio img {
	padding: 25px;
}
/*	===========================================================
	Team
	===========================================================	*/
.team {
	background: #2980b9;
	height: 907px;
	color:#ffffff;
	text-align:center;
}

.team h2 {
	padding: 123px 0 68px 0;
}

.team h3 {
	margin: 38px 0;
}

.team figure {
	width: 230px;
	display: block;
	border-radius: 50%;
	padding: 5px;
	background: white;
}

.team figure>img {
	vertical-align: middle;
	margin: 5px;
}

.team div {
	width: 300px;
	display: inline-block;
	text-align: center;
	margin: 0 65px;
}

.team>div>img {
	margin: 51px 15px 0 15px;
}
/*	===========================================================
	Contact
	===========================================================	*/
.contact {
	height: 858px;
	text-align: center;
	color: #2c3e50;
}	
.contact h2 {
	margin: 122px 0 0 0;
}

.contact p {
	margin: 32px 0;
	font-weight: bold;
}

.contact div {
	display: inline-block;
	vertical-align: top;
}

.contact dd {
	margin-left: 0;
}

.contact li {
	margin-bottom: 45px;
	text-align: left;
}

.contact .button {
	padding: 5px 30px;
	box-shadow: none;
}
	
/*	===========================================================
	Footer
	===========================================================	*/
footer {
	height: 282px;
	background-color: #34495e;
	text-align: left;
	color: #ffffff;
}

footer .logo {
	margin: 47px 0 20px 12%;
}

.adress {
	margin-left: 185px;
}

footer div {
	display: inline-block;
	margin-left: 90px;
	clear:left;
}


footer p {
	float: left;
	text-align: left;
}

footer img {
	/* display: block; */
	margin-left:24px;
}